{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-12">
        <h3>Koala 运营后台(demo)</h3>
        <label for="province">省份:</label>
        <select id="province" class="col-md-2 select2">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
        </select>
        <label for="city">年级:</label>
        <select name="city" id="city" class="col-md-2 select2"></select>
        <label for="district">区/县:</label>
        <select name="district" id="district" class="col-md-2 select2"></select>
        <label for="school">学校:</label>
        <select name="school" id="school" class="col-md-2 select2"></select>
        <div class="btn btn-primary">创建学校</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        学校代码：<span id="school_code"></span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <label for="grade">年级:</label>
        <select name="grade" id="grade" class="select2 col-md-2">
            <option value="">一年级</option>
            <option value="">二年级</option>
            <option value="">三年级</option>
            <option value="">四年级</option>
            <option value="">五年级</option>
            <option value="">六年级</option>
        </select>
        <label for="class">班级:</label>
        <input type="text" id="class" class="input">
        <div class="btn btn-primary">创建班级</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<hr />
<div class="row">
    <form class="col-md-12 form-inline" id="upload_form">
        <input type="file" id="student_file" name="student_file" class="form-group">
        <div class="btn btn-default" onclick="account.submit_file();">提交</div>
    </form>
</div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
    <script src="{% static "js/koala_op/account.js" %}"></script>
    <script>
    document.onload = function () {
        $('.select2').select2();

        account.init();
    }();
    </script>
{% endblock %}