<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koala op</title>
    {%  load static %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "libs/bootstrap-table-1.11.1/dist/bootstrap-table.min.css" %}">
    <link rel="stylesheet" href="{% static "libs/select2-4.0.2-rc.1/dist/css/select2.min.css" %}">
</head>
<body>
{% block content %}{% endblock %}

{% load static %}
<script src="{% static "libs/jquery-3.2.0.min.js" %}"></script>
<script src="{% static "libs/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "libs/bootstrap-table-1.11.1/dist/bootstrap-table.min.js" %}"></script>
<script src="{% static "libs/bootstrap-table-1.11.1/dist/bootstrap-table-locale-all.min.js" %}"></script>
<script src="{% static "libs/bootstrap-table-1.11.1/src/locale/bootstrap-table-zh-CN.js" %}"></script>
<script src="{% static "libs/vue.js" %}"></script>
<script src="{% static "libs/select2-4.0.2-rc.1/dist/js/select2.full.min.js" %}"></script>

<script src="{% static "js/util.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>